<div class="container">
  




    <div class="form-group">
    <h1 class="text-center text-primary">Todo App</h1>
     <div class="input-group-prepend">
        <input type="text" class="form-control"  placeholder="Add Todo" name="todo" #toDo [ngClass]="isinvalid?'error':''">
        <button class="input-group-text" (click)="addTodo(toDo)"><i class="material-icons">add</i></button>
     </div>
    </div>
    <div class="data">
        <ul class="">
         <li class="list-group-item" *ngFor="let todo of todoArray">
            <span class="hover-cursor" (click)="alterCheck(todo)">
                <i class="fa fa-lang" [ngClass]="todo.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
            </span> 
          {{todo.title}}
            <i class="material-icons pull-right" (click)="deleteItem()">delete</i>
         </li>
         
        </ul>
    </div>

  </div>